<p class= "subtitle"><strong>Produtos Listados</strong></p>
<table class= "table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>NCM</th>
      <th>CFOP</th>
      <th>Unidade</th>
      <th>Quantidade</th>
      <th>Valor Unitário</th>
      <th>ICMS</th>
      <th>IPI</th>
      <th>PIS</th>
      <th>COFINS</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product_item| %>
    <tr>
      <td><%= product_item.name %></td>
      <td><%= product_item.ncm %></td>
      <td><%= product_item.cfop %></td>
      <td><%= product_item.unit_com %></td>
      <td><%= product_item.quantity_com %></td>
      <td><%= number_to_currency(product_item.total_amount) %></td>
      <td><%= number_to_currency(product_item.icms) %></td>
      <td><%= number_to_currency(product_item.ipi) %></td>
      <td><%= number_to_currency(product_item.pis) %></td>
      <td><%= number_to_currency(product_item.cofins) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4" class="text-center">Total:</th>
      <th><%= total_items(@products, :quantity_com)%></th>
      <th><%= number_to_currency(total_items(@products, :total_amount)) %></th>
      <th><%= number_to_currency(total_items(@products, :icms)) %></th>
      <th><%= number_to_currency(total_items(@products, :ipi)) %></th>
      <th><%= number_to_currency(total_items(@products, :pis)) %></th>
      <th><%= number_to_currency(total_items(@products, :cofins)) %></th>
    </tr>
  </tfoot>  
</table>