<section class="info"> 
  <p class="subtitle"><strong>Dados do Destinatário:</strong> </p>
  <div class="sec_info">
    <% recipient = @invoice.recipient %>
    <div class="info_rows">
      <p><strong>CNPJ:</strong> <%= recipient.document %></p>
      <p><strong>Nome:</strong> <%= recipient.name %></p>
    </div>
    <div class="info_rows">
      <p><strong>Logradouro:</strong> <%= recipient.address %></p>
      <p><strong>Número:</strong> <%= recipient.address_number %></p>
      <p><strong>Complemento:</strong> <%= recipient.address_complement || ""%></p>
      <p><strong>Município:</strong> <%= recipient.city %></p>
      <p><strong>UF:</strong> <%= recipient.state %></p>
    </div>
    <div class="info_rows">
      <p><strong>CEP:</strong> <%= recipient.cep %></p>
      <p><strong>País:</strong> <%= recipient.country %></p>
      <p><strong>Telefone:</strong> <%= recipient.phone %></p>
    </div>
  </div>
</section>
