<section class="info">
  <p class="subtitle"><strong>Dados do Emitemente:</strong></p>
  <div class="sec_info">
    <% sender = @invoice.sender %>
    <div class="info_rows">
      <p><strong>CNPJ:</strong> <%=  sender.document %></p>
      <p><strong>Nome:</strong> <%=  sender.name %></p>
    </div>
    <div class="info_rows">
      <p><strong>Logradouro:</strong> <%= sender.address %></p>
      <p><strong>Número:</strong> <%= sender.address_number %></p>
      <p><strong>Complemento:</strong> <%= sender.address_complement || ""%></p>
      <p><strong>Município:</strong> <%= sender.city %></p>
      <p><strong>UF:</strong> <%= sender.state %></p>
    </div>
    <div class="info_rows">
      <p><strong>CEP:</strong> <%= sender.cep %></p>
      <p><strong>País:</strong> <%= sender.country %></p>
      <p><strong>Telefone:</strong> <%= sender.phone %></p>
    </div>
  </div> 
</section> 
