<h2 class= "title"> Meus arquivos enviados </h2>

  <section class="search">
    <%= form_with url: file_processes_path, method: :get do |f| %>
      <%= f.label t("activerecord.attributes.invoice.invoice_number") %>
      <%= f.text_field :invoice_number %>
      <%= f.label  t("activerecord.attributes.invoice.status") %>
      <%= f.collection_select(:status, Invoice.statuses_collection, :last, :first, { include_blank: "" }) %>
      <%= f.label t("activerecord.attributes.invoice.created_at") %>
      <%= f.date_field :start_date %> - <%= f.date_field :end_date %>
      <%= f.submit t('activerecord.helpers.buttons.search'), class: "button" %>
    <% end %>
      <%= link_to t('activerecord.helpers.buttons.clear_search'), file_processes_path , class: "button" %>
  </section>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= t("activerecord.attributes.invoice.id") %></th>
        <th scope="col"><%= t("activerecord.attributes.invoice.invoice_number") %></th>
        <th scope="col"><%= t("activerecord.attributes.invoice.created_at") %></th>
        <th scope="col"><%= t("activerecord.attributes.invoice.status") %></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td scope="row"><%= invoice[:id] %></td>
          <td scope="row"><%= link_to invoice.invoice_number, file_process_path(invoice) %></td>
          <td scope="row"><%= invoice[:created_at].strftime("%d/%m/%Y %H:%M:%S") %></td>
          <td scope="row"><%= t("invoices.status.#{invoice.status}") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= "Nenhum arquivo enviado" unless @invoices.present? %> <br><br>

<%= paginate @invoices %>

<%= link_to "Voltar", root_path , class: "button" %>
