  <h2>Relatório Fiscal</h2>

  <% xml_data = @file_process.parse_xml %> 

  <h3>Dados do Documento Fiscal <%= xml_data.at_xpath("//nNF")&.text %></h3> 
  <ul>
    <li><strong>Id:</strong> <%= @file_process.id %></li>
    <li><strong>Número de Série:</strong> <%= xml_data.at_xpath("//serie")&.text %></li>
    <li><strong>Número da Nota Fiscal:</strong> <%= xml_data.at_xpath("//nNF")&.text %></li>
    <li><strong>Data e Hora de Emissão:</strong> <%= xml_data.at_xpath("//dhEmi")&.text %></li>
  </ul>

  <ul><strong>Dados do Emitente:</strong> 
  <% xml_data.xpath("//emit").each do |emit| %>
    <li><strong>CNPJ:</strong> <%= emit.at_xpath("CNPJ")&.text %></li>
    <li><strong>Nome:</strong> <%= emit.at_xpath("xNome")&.text %></li>
    <li><strong>Nome Fantasia:</strong> <%= emit.at_xpath("xFant")&.text %></li>
  </ul>
    
  <ul><strong>Endereço do Emitente:</strong>
    <li><strong>Logradouro:</strong> <%= emit.at_xpath("enderEmit/xLgr")&.text %></li>
    <li><strong>Número:</strong> <%= emit.at_xpath("enderEmit/nro")&.text %></li>
    <li><strong>Complemento:</strong> <%= emit.at_xpath("enderEmit/xCpl")&.text %></li>
    <li><strong>Bairro:</strong> <%= emit.at_xpath("enderEmit/xBairro")&.text %></li>
    <li><strong>Código do Município:</strong> <%= emit.at_xpath("enderEmit/cMun")&.text %></li>
    <li><strong>Município:</strong> <%= emit.at_xpath("enderEmit/xMun")&.text %></li>
    <li><strong>UF:</strong> <%= emit.at_xpath("enderEmit/UF")&.text %></li>
    <li><strong>CEP:</strong> <%= emit.at_xpath("enderEmit/CEP")&.text %></li>
    <li><strong>Código do País:</strong> <%= emit.at_xpath("enderEmit/cPais")&.text %></li>
    <li><strong>País:</strong> <%= emit.at_xpath("enderEmit/xPais")&.text %></li>
    <li><strong>Telefone:</strong> <%= emit.at_xpath("enderEmit/fone")&.text %></li>
    <li><strong>Inscrição Estadual:</strong> <%= emit.at_xpath("IE")&.text %></li>
    <li><strong>Regime Tributário:</strong> <%= emit.at_xpath("CRT")&.text %></li>
  <% end %>
  </ul>

  <ul><strong>Dados do Destinatário:</strong> 
  <% xml_data.xpath("//dest").each do |dest| %>
    <li><strong>CNPJ:</strong> <%= dest.at_xpath("CNPJ")&.text %></li>
    <li><strong>Nome:</strong> <%= dest.at_xpath("xNome")&.text %></li>
  </ul>
    
  <ul><strong>Endereço do Destinatário:</strong>
    <li><strong>Logradouro:</strong> <%= dest.at_xpath("enderDest/xLgr")&.text %></li>
    <li><strong>Número:</strong> <%= dest.at_xpath("enderDest/nro")&.text %></li>
    <li><strong>Bairro:</strong> <%= dest.at_xpath("enderDest/xBairro")&.text %></li>
    <li><strong>Código do Município:</strong> <%= dest.at_xpath("enderDest/cMun")&.text %></li>
    <li><strong>Município:</strong> <%= dest.at_xpath("enderDest/xMun")&.text %></li>
    <li><strong>UF:</strong> <%= dest.at_xpath("enderDest/UF")&.text %></li>
    <li><strong>CEP:</strong> <%= dest.at_xpath("enderDest/CEP")&.text %></li>
    <li><strong>Código do País:</strong> <%= dest.at_xpath("enderDest/cPais")&.text %></li>
    <li><strong>País:</strong> <%= dest.at_xpath("enderDest/xPais")&.text %></li>
    <li><strong>Indicador da IE do Destinatário:</strong> <%= dest.at_xpath("indIEDest")&.text %></li>
  <% end %>
  </ul>

  <h3>Produtos Listados</h3>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>NCM</th>
        <th>CFOP</th>
        <th>Unidade</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
      </tr>
    </thead>
    <tbody>
      <% xml_data.xpath("//prod").each do |product| %>
        <tr>
          <td><%= product.at_xpath("xProd")&.text %></td>
          <td><%= product.at_xpath("NCM")&.text %></td>
          <td><%= product.at_xpath("CFOP")&.text %></td>
          <td><%= product.at_xpath("uCom")&.text %></td>
          <td><%= product.at_xpath("qCom")&.text %></td>
          <td><%= product.at_xpath("vUnCom")&.text %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Impostos Associados</h3>
    <table class= "table table-hover">
    <thead>
      <tr>
        <th>ICMS:</th>
        <th>IPI:</th>
        <th>PIS:</th>
        <th>COFINS:</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= xml_data.at_xpath("//vICMS")&.text %></td>
          <td><%= xml_data.at_xpath("//vIPI")&.text %></td>
          <td><%= xml_data.at_xpath("//vPIS")&.text %></td>
          <td><%= xml_data.at_xpath("//vCOFINS")&.text %></td>
        </tr>
    </tbody>
  </table>

  <h3>Totalizadores</h3>
  <p> valores totais </p>

<%= link_to "Voltar", root_path , class: "btn btn-outline-primary"%>
  