<!DOCTYPE html>
<html>
  <head>
    <title>File Process</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <% flash.each do |type, msg| %>
      <% alert_class = case type.to_sym
                       when :notice then "alert-success"
                       when :alert then "alert-danger"
                       else "alert-info"
                       end %>
      <p class="alert <%= alert_class %>">
      <%= msg %>
      </p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
